[submodule "themes/base16"]
	path = themes/base16
	url = git@github.com:ryanwersal/base16-emacs.git
[submodule "themes/base16-new"]
	path = themes/base16-new
	url = https://github.com/milkypostman/base16-emacs.git
