[submodule "themes/base16"]
	path = themes/base16
	url = git@github.com:ryanwersal/base16-emacs.git
[submodule "packages/minimap"]
	path = packages/minimap
	url = git@github.com:ryanwersal/emacs-minimap.git
[submodule "packages/js2-mode"]
	path = packages/js2-mode
	url = https://github.com/mooz/js2-mode.git
